@model List<GC_Lab_Movies_SoloVersion.ViewModels.SingleMovieViewModel>

@foreach (var movie in Model)
{
    <h1>@movie.MovieModel.title</h1>
    <p>@movie.MovieModel.overview</p>
    <img src="@movie.BuildImageUrl()" alt="Alternate Text" />
}