@model List<GC_Lab_Movies_SoloVersion.ViewModels.SingleMovieViewModel>

<div class="">
    <div class="movie-grid-container">
        @foreach (var movie in Model)
        {
            @*<h1>@movie.MovieModel.title</h1>
            <p>@movie.MovieModel.overview</p>*@
            <div class="movie-grid-item">
                <a href="#">
                    <img src="@movie.BuildImageUrl()" alt="Alternate Text" />
                </a>
            </div>
        }
    </div>
</div>